body{
    background-color: aqua;
    font-family:'Roboto',sans-serif;
    height:100%;
    width:100%;
    margin:0;
    padding:0;    
}

    #Header{
        display:flex;
        text-align: center;
        justify-content: space-between;
        padding:25px 80x 0px 80px;
        background-color:rgb(250, 244, 244);
        
        font-family:'Courier New', Courier, monospace;
        background-size: cover;
        margin-top:0px;
        margin-bottom:0;
        
        }
        
        nav{
        margin:0;
        padding:0;
        
        }
        ul{
        
        display:flex;
        justify-content: space-around;
        
        margin-right:20px;}
        ul li{
        list-style: none;
            padding:0px  25px;
        position:relative;
        font-family: 'Courier New', Courier, monospace;
        font:bold;
        }
        
        a{
        font-size:16px;
        text-decoration: none;
        font-weight: 600;
        color:#1a1a1a;
        transition:0.2s ease;
        font-family: "Hubot Sans", sans-serif;
        }
        a:hover,a.active{
        color: #7a8a8a;
        }
        
        a.active::after,
        a:hover::after{
        content:"";
        width:30%;
        height: 2px;
        position:absolute;
        bottom:-4px;
        left:20px;
        background-color:#7a8a8a ;
        
        }
    
    .regi{
    height:500px;
    width:360px;
    margin:auto;
    border-radius:3px;
    background-color: aliceblue;
    }
    h1{
    text-align: center;
    padding-top:15px ;
    }
    form {
    width:300px;
    margin:auto;
    text-align:center;
    }
    form label{
    display:flex;
    font-size:18px;
    margin-top:20px
    }
    form input{
    width:100%;
    padding:7px;
    border:none;
    border:1px solid gray;
    border-radius: 6px;
    outline:none
    }
    
    /* button{
    width:300px;
    height:35px;
    display:block;
    margin: 20px auto;
    padding:7px;
    border:none;
    background-color: #00ff9d;
    font-size:18px;
    } */
    button{
    width: calc(100% - 40px);
    height: 40px;
    display: block;
    margin: 20px auto;
    padding: 7px;
    border: none;
    background-color: #00ff9d;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
    }
    button:hover {
        background-color: #00cc7a;
    }